body {
  background-color: black;
}

/*canvas {
  display: block;
  margin: auto;
  background-color: white;
}*/

.cell {
  background-color: white;
  height: 50px;
  width: 50px;
}

.ship {
  background-color: black;
}

.phantom {
  background-color: grey;
}
