body {
  background-color: black;
}

/*canvas {
  display: block;
  margin: auto;
  background-color: white;
}*/

.cell {
  background-color: white;
  height: 50px;
  width: 50px;
}

<<<<<<< HEAD
#board {
  float: left;
}

#battlefield {
  float:right;
}

.clear {
  clear: both;
=======
.ship {
  background-color: black;
}

.phantom {
  background-color: grey;
>>>>>>> 5d77a53f7c606872613c6f951e9189ff52f1b214
}
