<main id="home">
<h1>Welcome to Battleship!</h1>
<h3>Select a game to join or create a New Game:</h3>
<table>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to "Game #{game.id}", new_game_path(game_id: game.id) %></td
    </tr>
  <% end %>
  <tr>
    <td><%= link_to 'New Game', new_game_path %></td>
  </tr>
</table>
</main>
