<div>
  <table id="board"></table>
</div>
<div id="ships">
  <button id="rotate-ship">Rotate Ship</button>
  <button id="destroyer">Destroyer</button>
  <button id="submarine">Submarine</button>
  <button id="cruiser">Cruiser</button>
  <button id="battleship">Battleship</button>
  <button id="carrier">Carrier</button>
  <button id="start-game">BATTLE!</button>
</div>



