<h1>Welcome to Battleship!</h1>
<h3>Create a New Board</h3>
<div id="board" height="400" width="400">
</div>

<div id="ships">
  <button id="destroyer">Destroyer</button>
  <button id="submarine">Submarine</button>
  <button id="cruiser">Cruiser</button>
  <button id="battleship">Battleship</button>
  <button id="carrier">Carrier</button>
  <button id="rotate">Rotate Ship</button>
  <%= form_for @game do |f| %>
    <% f.submit "BATTLE!", :class => 'battle' %>
  <% end %>
</div>

<%= javascript_include_tag "onboard" %>
