/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 * * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*#home{
  background-color: white;
}*/

body {
  background-color: #002F4B;
}

h1 {
  color: white;
}

#home td {
  padding: 5px;
  border-radius: 2px;
  background-color: white;
}

#home a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}


#board {
  display: inline-block;
  width: 500px;
}

.cell {
  background-color: white;
  height: 50px;
  width: 50px;
}

.game {
  width:100%;
}

.play-again {
  color: white;
}

.play-again:visited {
  color: white;
}

#player_board {
  display: inline-block;
  float: left;
  /*float: left;*/
  width: 40%;
}

#opponent_board {
  display: inline-block;
  float: right;
  width: 40%;
}

.player {
  float: left;
}

.opponent{
  float: right;
  margin-right: 31%;
}

.ship {
  background-color: #4d4d4d;
}

.cell.miss {
  background-color: #3987c9;
}

.cell.hit {
  background-color: #FF1C00;
}

.phantom {
  background-color: grey;
}


.clear {
  clear: both;
}

.current_turn {
  clear:both;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  appearance: none;
  box-shadow: none;
}

.battle {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  appearance: none;
  box-shadow: none;
  border-color: red;
  background-color: red;
}
