body {
  background-color: black;
}

/*canvas {
  display: block;
  margin: auto;
  background-color: white;
}*/

.cell {
  background-color: white;
  height: 50px;
  width: 50px;
}

#board {
  display: inline-block;
  width: 500px;
}

#battlefield {
  display: inline-block;
  width: 500px;
}

.ship {
  background-color: black;
}

.phantom {
  background-color: grey;
}
